.download-buttons img {
    max-width: 150px; /* Set a maximum width */
    height: auto;     /* Maintain aspect ratio */
    display: block;   /* Ensures proper alignment */
    margin: 0 auto;   /* Centers the image */
}

.download-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff; /* Add a background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for a clean look */
}

.android {
    background-color: #4caf50;
    color: white;
}

.ios {
    background-color: #ccc;
    color: #fff;
}

.ios.disabled {
    pointer-events: none;
    background-color: #ddd;
}
